@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@* @model ToDoList.Models.Category; *@

<h3>Here are all the items in this category:</h3>

 @* @foreach (Item item in @Model.Items)
{
  <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId }) | @item.Category.Name</li>
}  *@

@* <h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3> *@
<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>



@* <ol>
@foreach (Item item in @Model["items"])
{
  <li><a href='/categories/@Model["category"].Id/items/@item.Id'>@item.Description</a></li>
}
</ol>

<p><a href='/categories/@Model["category"].Id/items/new'>Add a new item</a></p> *@